.MusicPlayer{
    width: 121%;
    padding: 10px;
    .songAttributes{
        width: 100%;
        .top{
            justify-content: space-between;
            color: #fff;
            .left,
            .middle,
            .right{
                cursor: pointer;
            }
            .left{
                font-size: 18px;
                cursor: pointer;
                .clicked{
                    color: #49e12e;
                }
            }
            .right{
                cursor: pointer;
                width: 235px;
                .repeat{
                    margin-right: 40px;
                }
                .clicked{
                    color: #49e12e;
                }
                font-size: 18px;
                .volumeControl{
                    margin-top: 10px;
                    margin-left: 60px;
                    display: flex;
                    align-items: center;
                    border: none;
                    i{
                        margin-right: -5px;
                        font-size: 20px;
                        margin-top: -8px;
                    }
                    .none-bold{
                        display: none;
                        border: none;
                    }

                    input[type="range"] {
                        accent-color: white;
                        // -webkit-appearance: none;
                        height: 4px;
                        margin: 0 10%;
                        border: none;
                        border-radius: .375em;
                        outline: none;
                        cursor: pointer;
                    }
                        input[type="range"]::-webkit-slider-thumb {
                            appearance: none;
                            border: none;
                            height: 15px;
                            width: 15px;
                            background: #fff;
                            border-radius: 50%;
                            cursor: pointer;
                          }
                    }
            }
            .middle{
                width: 20%;
                justify-content: space-around;
                
                .back{
                    font-size: 18px;
                    i{
                        &:nth-child(2){
                            margin-left: 10px;
                        }
                    }
                }
                .forward{
                    font-size: 18px;
                    i{
                        &:nth-child(1){
                            margin-right: 10px;
                        }
                    }
                }
                .playPause{
                    overflow: hidden;
                    font-size: 30px;
                    position: relative;
                    top: -25%;
                }
            }
        }
        .bottom{
            margin-right: 200px;
            padding: 0px 15px;
            margin-top: -20px;
            justify-content: space-around;
            .progresBar{
                width: 78%;
                position: relative;
                height: 5px;
                outline: none;
                border: none;
                appearance: none;
                border-radius: 10px;
                background: rgba(255,255,255,0.1);
                cursor: pointer;
                overflow: hidden;
                margin-top: 6px;
                &::before{
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    // background: #848484;
                    background: #49e12e !important;
                    width: var(--player-played);
                    height: 100%;
                    border-radius: 10px;
                    z-index: 2;
                    transition: all 0.3s ease;
                }
                &::-webkit-slider-thumb{
                    -webkit-appearance: none;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: none;
                    outline: none;
                }
            }
            .currentTime,
            .duration{
                color: #f1f1f1;
                font-size: 12px;
                font-weight: bold;
            }
        }
    }
}